.gallery-card {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.gallery-card__image,
.gallery-card__overlay {
    transition: all 0.3s ease-in;
}

.gallery-card__image,
.gallery-card__overlay,
.gallery-card {
    width: 100%;
    height: 100%;
}

.gallery-card__image {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.gallery-card__overlay {
    color: var(--color-cyan);
    opacity: 0;
}

.gallery-card__overlay svg {
    z-index: 1;
}

.gallery-card__overlay__bg {
    background-color: var(--color-primary-hover-1);
    opacity: 0.5;
    z-index: 0;
}

.gallery-card__overlay,
.gallery-card__overlay__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.gallery-card:hover .gallery-card__image {
    transform: scale(1.1);
}

.gallery-card:hover .gallery-card__overlay {
    opacity: 1;
}

@media screen and (min-width: 0px) {
    .gallery-card__overlay {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 768px) {
    .gallery-card__overlay {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .gallery-card__overlay {
        font-size: 2.8rem;
    }
}
