.detailed-card {
    background-color: white;
}
.detailed-card:not(:last-child) {
    margin-bottom: 2.5rem;
}
.detailed-card .col-12 {
    position: relative;
    z-index: 0;
}

.detailed-card__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.detailed-card__content {
    height: 100%;
}

.detailed-card__content,
.detailed-card__content__product-details__icon {
    transition: all 0.2s ease-in;
}

/* hover effect  */

.detailed-card__content__product-details__icon {
    font-size: 2.4rem;
    display: inline-block;
    opacity: 0;
    color: var(--color-cyan);
}

.detailed-card__content:hover {
    background-color: var(--color-secondary-hover-4);
}

.detailed-card__content .detailed-card__content__product-details__heading:hover {
    cursor: pointer;
}

.detailed-card__content:hover .detailed-card__content__product-details__icon {
    opacity: 1;
}

@media screen and (min-width: 0px) {
    .detailed-card .col-12 {
        min-height: 343px;
        height: auto;
    }
    .detailed-card__content {
        padding: 1.5rem;
    }
    .detailed-card__content > *:first-child {
        margin-bottom: 1.5rem;
    }
    .detailed-card__content > *:last-child {
        margin-top: 1.5rem;
    }
    .detailed-card__content__desc {
        max-height: 105px;
    }
}

@media screen and (min-width: 768px) {
    .detailed-card .col-12 {
        min-height: auto;
        height: 368px;
    }
    .detailed-card__content__desc {
        max-height: 140px;
    }
}

@media screen and (min-width: 992px) {
    .detailed-card .col-12 {
        height: 640px;
    }
    .detailed-card__content {
        padding: 5rem 2rem 5rem 5rem;
    }
    .detailed-card__content > *:first-child {
        margin-bottom: 4rem;
    }
    .detailed-card__content > *:last-child {
        margin-top: 4rem;
    }
    .detailed-card__content__desc {
        max-height: 224px;
    }
}
