.custom-checkbox .form-check-input{
    border-radius: 5px;
    border-color: #D0D2DA;
}

.custom-checkbox.form-check{
    min-height: 1.8rem;
    margin-bottom: .5rem;
}

.custom-checkbox .form-check-label{
    line-height: 24px !important;
    color: var(--color-dark-grey-2);
    vertical-align: middle;
}

.custom-checkbox .form-check-input:checked[type="checkbox"]{
    background-image: url("../image/checkbox-tick.svg") !important;
}

.custom-checkbox .form-check-input:checked[type="checkbox"]{
    background-color: var(--color-ButtonBackRegular) !important;
    border-color: var(--color-ButtonBackRegular) !important;
}

@media only screen and (min-width:0px){
    .custom-checkbox.form-check{
        padding-left: 2em !important;
    }
    .custom-checkbox .form-check-input{
        width: 20px;
        height: 20px;
        margin-left: -2em !important;
        background-size: 10px 12px;
    }
}

@media only screen and (min-width:992px){
    .custom-checkbox.form-check{
        padding-left: 2.3em !important;
    }
    .custom-checkbox .form-check-input{
        width: 24px;
        height: 24px;
        margin-left: -2.3em !important;
        background-size: 24px 12px;
    }
}