.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.breaccurumcontainer {
  width: 96%;
  margin: 0 auto;
}
.cart-container {
  width: 96%;
  margin: 0 auto;
}
.subscription-info {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  text-align: left;
  color: var(--color-green);
}
.head {
  color: var(--color-green);
  font-weight: 500;
}

.sub-head {
  color: var(--color-green);
  font-weight: 500;
}
.subscription_changeBtn {
  color: var(--color-dark-grey);
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
  background-color: transparent !important;
  border-color: transparent !important;
}
.subscription-tag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f67054;
  color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 10px 4px 4px !important;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}
.radius-10 {
  border-radius: 10px;
}

.cart-pg-mb-30 {
  margin-bottom: 30px;
}
.yt-currency-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart-pg-breadcrumbs {
  color: var(--color-dark-grey);
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 30px;
}
.cart-pg-breadcrumbs .cart-pg-home {
  color: var(--color-cyan);
}
.cart-pg-breadcrumbs a {
  cursor: pointer;
  text-decoration: none !important;
}
.cart-product {
  /* padding: 10px; */
  border: solid 1.5px #000;
  border-radius: 5px;
  width: 160px;
  height: 185px;
}
table.cart-prodict-type th {
  padding: 10px 0;
  padding-right: 60px;
}
table.cart-prodict-type tbody th {
  font-size: 17px;
  line-height: 1.05;
  color: var(--color-black);
  font-weight: 500;
  padding: 0;
}
.cartno-wrap {
  margin-top: 52px;
  margin-bottom: 40px;
}
.cart-action {
  display: flex;
  justify-content: center;
}
.cart-action .cart-product-delete {
  padding: 0 0 0 20px;
  margin: 0 0 0 20px;
  border-left: 1px solid #ccc;
  cursor: pointer;
  color: var(--color-pink);
  font-weight: 500;
  font-size: 14px;
}
.deletecartitem {
  color: var(--color-pink);
}
.cart-action span {
  cursor: pointer;
  color: var(--color-pink);
  font-weight: 400;
  font-size: 14px;
  /* min-width: 130px; */
}
.cart-action svg {
  color: var(--color-pink);
}
.btn-link.cart-coupon-change-btn {
  color: var(--color-orange);
  text-decoration: none !important;
}
.btn-secondary.cart-coupon-btn {
  background-color: var(--color-cyan);
  border: 1px solid #dfdfdf;
  color: var(--color-black);
}
.cart-pg-breadcrumbs .cart-pg-current {
  color: var(--color-black);
  font-size: 12px;
  font-weight: 300;
  /* font-weight: bold !important; */
  line-height: 1.17;
}

.empty-cartn-ttl {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.13;
  color: var(--color-black);
  margin-bottom: 17px;
}

.empty-cart-text {
  font-size: 14px;
  line-height: 1.13;
  color: var(--color-dark-grey);
}

.empty-cart-btn {
  opacity: 0.99;
  border-radius: 6px;
  background-color: var(--color-dark-black);
  border-color: var(--color-dark-black);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  color: #ffffff;
}

.cart-page-main-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.13;
  color: var(--color-black);
  margin-bottom: 30px;
}

.cart-product-image {
  border-radius: 9px;
  border: solid 1px #dbdbdb;
  background-color: #ffffff;
}

.cart-product-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px ;
  color: var(--color-black);
  margin-bottom: 20px;
  max-width: 262px;
}

.cart-prodict-type-container {
  max-width: 17vw;
  overflow-x: auto;
  margin-bottom: 10px;
}
.product-feature-heading {
  color: var(--color-light-grey);
  font-size: 14px;
  font-weight: 400;
}
.product-feature-sub-heading {
  color: var(--color-black);
  font-size: 14px;
  font-weight: 500;
}
.summaryHeading {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .cart-prodict-type-container {
    max-width: 54vw;
    /* margin-bottom: 28px; */
  }
  .remove-coupon-btn {
    display: none !important;
  }
}

/* width */
.cart-prodict-type-container::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.cart-prodict-type-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.cart-prodict-type-container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.cart-prodict-type-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cart-prodict-type th {
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 0.5px;
  color: var(--color-dark-grey);
}

.cart-prodict-type th,
.cart-prodict-type td {
  padding: 3px;
}

.cart-product-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.08px;
  color: #000;
}

.cart-product-delete svg {
  font-size: 22px;
  /* color: #8d9096; */
  cursor: pointer;
}

/* .cart-prodict-amount th {
  font-size: 20px !important;
  font-weight: 500;
  line-height: 1.15;
  text-align: left;
  color: var(--color-black);
} */

.cart-product-amount-ttl {
  font-size: 18px;
  line-height: 1.11;
  text-align: left;
  color: var(--color-dark-grey-2);
  font-weight: normal;
}

.cart-product-amount-price {
  font-size: 18px;
  line-height: 1.11;
  text-align: right;
  color: var(--color-black);
  display: block;
}

.cart-prodict-amount thead th {
  padding-top: 0;
  padding-bottom: 18px;
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
  color: var(--color-light-grey);
  font-weight: 400;
  line-height: 1.15;
  text-align: left;
}
.cart-product-amount {
  font-size: 14px;
  color: var(--color-black);
  font-weight: 400;
  line-height: 1.15;
}

.cart-prodict-amount tbody td,
.cart-prodict-total-amount tbody td,
.ccart-prodict-sub-total-amount tbody td,
.cart-prodict-sub-total-amount tbody td {
  padding: 10px 0;
}

.cart-divider {
  border-bottom: solid 1px #dfdfdf !important;
  display: block;
  margin: 15px 0 5px !important;
}

.cart-coupon .form-group {
  position: relative;
}

/* .cart-coupon .form-control {
  border-radius: 4px;
  border: solid 1px #dbdbdb;
  height: auto;
  box-shadow: none;
  font-size: 16px;
  line-height: 1.13;
  text-align: left;
  color: var(--color-black);
  padding: 12px;
} */

/* .cart-coupon-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  opacity: 0.99;
  border-radius: 5px;
  background-color: var(--color-orange);
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  transform: translateY(-50%);
  line-height: 1.15;
  padding: 13px 15px;
  border-color: var(--color-orange);
} */

.cart-checkout-tile {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.15;
  text-align: left;
  color: var(--color-black);
}

.cart-select-aar-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: var(--color-blue);
}

.checkout-form-wrap .form-group .form-control {
  box-shadow: none;
  border-bottom: 1px solid #dbdbdb !important;
  border-radius: 0;
}

.checkout-form-label {
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: var(--color-dark-grey);
}

.checkout-checkbox .form-group,
.yt-chekout-radio .form-group {
  padding-left: 25px;
  position: relative;
  line-height: 25px;
}
.cart-product-total-amount {
  font-size: 18px;
  color: var(--color-black);
  font-weight: 500;
  line-height: 24px;
}
.yt-empty-cart-wrap {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.cart-pg-inner-wrap .checkout-checkbox .form-check-input {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  margin: 0;
}

.cart-pg-inner-wrap .yt-checkout-form-chk-box,
.cart-pg-inner-wrap .yt-checkout-form-rado-box {
  position: absolute;
  cursor: pointer;
  margin: 0;
  left: 0;
  top: 0;
}

.cart-pg-inner-wrap .checkout-checkbox .yt-checkout-form-chk-box:before,
.cart-pg-inner-wrap .yt-checkout-form-rado-box:before {
  content: "";
  -webkit-appearance: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  border: solid 1px #979797;
  background-color: #ffffff;
  border-radius: 3px;
  box-sizing: border-box;
}

.cart-pg-inner-wrap .yt-checkout-form-rado-box:before {
  border-radius: 100%;
  width: 15px;
  height: 15px;
  padding: 5px;
}

.yt-checkout-chekbox-label {
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: var(--color-black);
}

.cart-pg-inner-wrap
  .checkout-checkbox
  .form-check-input:checked
  + label:before {
  background-color: var(--color-blue);
}

.cart-pg-inner-wrap .checkout-checkbox .form-check-input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 7px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  z-index: 5;
}

.cart-pg-inner-wrap .yt-chekout-radio .form-check-input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  width: 7px;
  height: 7px;
  z-index: 5;
  background: var(--color-blue);
  border-radius: 25px;
  left: 4px;
}

.cart-pg-inner-wrap .yt-chekout-radio .form-check-input:checked + label:before {
  border-color: var(--color-blue);
}

.cart-pg-inner-wrap .yt-chekout-radio .form-check-input {
  position: absolute;
  left: 20px;
  top: 0;
  z-index: 5;
  opacity: 0;
  right: 0;
  width: 100%;
  margin-top: 0;
  bottom: 0;
  height: 100%;
}

.checkout-form-wrap .form-check-label {
  line-height: 1.5;
}

.cart-coupon .error .cart-coupon-code-message {
  font-size: 13px;
  line-height: 1.46;
  text-align: left;
  color: var(--color-orange);
}

.cart-coupon .success .cart-coupon-code-message {
  font-size: 13px;
  line-height: 1.46;
  text-align: left;
  color: var(--color-green);
}

.cart-coupon-change-btn {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--color-orange);
  text-decoration: underline;
}

.cart-coupon .cart-coupon-bottom-wrapper {
  position: absolute;
  bottom: -42px !important;
  flex-direction: row !important;
  left: 0;
  right: 0;
  opacity: 0;
}

.cart-coupon .error .cart-coupon-bottom-wrapper,
.cart-coupon .success .cart-coupon-bottom-wrapper {
  opacity: 1;
}
form.yt-cart-disct-wrap .yt-form-cpn-err.form-group,
form.yt-cart-disct-wrap .success.form-group {
  margin-bottom: 20px !important;
}
.cart-coupon .success .cart-coupon-bottom-wrapper .error-message,
.cart-coupon .error .cart-coupon-bottom-wrapper .success-message,
.login-on-cart-page .lp-bottom-links {
  display: none;
}

.yt-login-wrap {
  margin-top: 0 !important;
}

.cart-prodict-amount thead th:last-child {
  text-align: right;
}

.cart-prodict-type tr td {
  font-size: 17px;
  line-height: 1.24;
  color: var(--color-black);
}

.cart-pg-list-image {
  /* width: 78%; */
  flex: 0 0 32%;
}

.cart-pg-list-prdt-info {
  /* width: 75%; */
  flex: 1;
}

.cart-list-other-act {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.cart-quantity-box {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.checkout-form-wrap .yt-remove-arrow::-webkit-outer-spin-button,
.checkout-form-wrap .yt-remove-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

.checkout-form-wrap .yt-remove-arrow[type="number"] {
  -moz-appearance: textfield;
}

.cart-produt-list-wrap {
  padding: 39px 19px 38px;
  /* padding: 40px 40px 28px; */
}

.yt-cart-price-lister {
  padding: 40px 30px 56px;
  margin-bottom: 30px;
}

.checkout-form-wrap .cart-pg-inner-wrap {
  /* padding: 0 !important; */
}

.yt-cm-lt-col {
  padding-right: 7px;
}

.yt-cm-rt-col {
  padding-left: 7px;
}
.cart-price-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cart-price-container .proceed-btn {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .cart-proceed-to-checkput.cart-btn-bill-pg {
    display: none;
  }
  .cart-pg-list-image .cart-product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  .cart-pg-list-image .cart-product-image {
    width: 100%;
    height: 133px;
  }
}
@media(min-width:768px)and (max-width: 819px){
  .presBox{
    margin: 0px 0px 10px 117px;
  }
}
@media(min-width:820px)and (max-width: 912px){
  .presBox{
    margin: 0px 0px 10px 137px;
  }
}
@media(min-width:912px)and (max-width: 991px){
  .presBox{
    margin: 0px 0px 10px 175px;
  }
}
@media(min-width:993px)and (max-width: 1279px){
  .cart-quantity-box {
    position: absolute;
    bottom: 50px !important;
    right: 30px;
    width: 115px;
  }
  .presBox{
    bottom: 90px;
    margin: 0px 0px 10px 415px;
  }
}
@media (min-width: 1280px) {
  .empty-main-ttl {
    display: none;
  }
  .cart-prodict-type th,
  .cart-prodict-type td {
    padding: 3.5px 0;
    padding-right: 74px;
  }
  .cart-prodict-type th:last-child,
  .cart-prodict-type td:last-child {
    padding-right: 0;
  }
}

@media (min-width: 1280.88px) {
  .yt-cm-lt-col {
    padding-right: 10px;
  }
  .yt-cm-rt-col {
    padding-left: 10px;
  }
}

@media (min-width: 1900px) {
  .yt-cm-lt-col {
    padding-right: 20px;
  }
  .yt-cm-rt-col {
    padding-left: 20px;
  }
  .cart-product-title {
    line-height: 1.67;
    max-width: 100%;
  }
  .cart-produt-list-wrap {
    padding: 40px 40px 37px;
  }
}

/*
* Screen for under 1280 Resolution 
*/

@media (max-width: 1279.92px) {
  .yt-empty-cart-wrap {
    max-width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  .empty-cartn-ttl {
    font-size: 24px;
    line-height: 1.17;
  }
  .empty-cart-text {
    font-size: 14px;
    line-height: 1.14;
  }
  .empty-cart-btn {
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: 0.32px;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  .yt-empty-cart-wrap.cart-pg-inner-wrap {
    margin-top: 10px !important;
  }
  .cart-page-main-title {
    margin-bottom: 10px !important;
    font-size: 24px;
    line-height: 1.17;
  }
  .cart-produt-list-wrap {
    padding: 15px;
    margin-bottom: 10px;
    padding-bottom: 34px;
  }
  .yt-cart-price-lister {
    padding: 20px 15px;
  }
  .cart-product-title {
    font-size: 16px;
    line-height: 1.13;
  }
  .cart-prodict-type th {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.46px;
  }
  .cart-prodict-type tr td {
    font-size: 16px;
    line-height: 1.31;
  }
  .cart-product-price {
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.77px;
  }
  .cart-prodict-amount thead th:first-child {
    font-size: 18px;
    line-height: 1.11;
  }
  .cart-prodict-amount thead th:last-child {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.13;
  }
  .cart-product-amount-ttl {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.14;
  }
  .cart-product-amount-price {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.14;
  }
  .cart-prodict-amount tbody td,
  .cart-prodict-total-amount tbody td,
  .cart-prodict-sub-total-amount tbody td,
  .cart-prodict-sub-total-amount tbody td {
    padding: 7.5px 0;
  }
  .cart-divider {
    margin: 15px 0;
  }
  .cart-proceed-to-checkput {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: 0.32px;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  .cart-coupon .form-control {
    /* padding: 12px 15px; */
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
  .cart-coupon .error .cart-coupon-code-message {
    font-size: 12px;
    line-height: 1.58;
  }
  .cart-coupon-change-btn {
    font-size: 14px;
    line-height: 1.14;
  }
  .checkout-form-wrap .yt-chekout-radio .yt-currency-wrap.form-group {
    padding-left: 0 !important;
  }
  .cart-list-other-act {
    /* position: relative; */
    order: -1;
    display: flex;
    flex-direction: revert;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .cart-product {
    width: 120px;
    height: 144px;
    object-fit: contain;
    object-position: center;
  }
  .cart-quantity-box {
    position: absolute;
    bottom: 15px;
    right: 30px;
    width: 115px;
  }
  .cart-action {
    margin-bottom: 16px;
  }
}

/*
* Screen for under 768 Resolution 
*/

@media (max-width: 767.92px) {
  .presBox{
    margin: 0px 0px 10px 117px !important
  }
  .cart-pg-inner-wrap
    .yt-chekout-radio
    .form-check-input:checked
    + label:after {
    top: 4px !important;
  }
  .breaccurumcontainer {
    width: 90%;
    margin: 0 auto;
  }
  .cart-container {
    width: 88%;
    margin: 0 auto;
  }
  .cart-list-other-act {
    /* position: relative; */
    order: -1;
    display: flex;
    flex-direction: revert;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .cart-pg-list-image .cart-product-image img {
    width: 57px;
    height: 57px;
    object-fit: cover;
    object-position: top;
  }
  .cart-product {
    width: 120px;
    height: 144px;
    object-fit: cover;
    object-position: top;
  }
  .cart-pg-list-image .cart-product-image {
    width: 70px;
    height: 70 px;
  }
  .cart-checkout-wrap .cart-proceed-to-checkput {
    margin-bottom: 15px;
  }
  .yt-cm-row {
    margin-left: -20px;
    margin-right: -20px;
  }
  .yt-cm-lt-col {
    padding-right: 11px;
    padding-left: 11px;
  }
  .yt-cm-rt-col {
    padding: 0;
  }
  .empty-cartn-ttl {
    font-size: 17px;
    line-height: 1.12;
  }
  .empty-cart-text {
    font-size: 15px;
    line-height: 1.2;
  }
  .empty-cart-btn {
    font-size: 12px;
    line-height: 1.17;
  }
  .cart-page-main-title {
    font-size: 18px;
    line-height: 1.11;
  }
  .cart-produt-list-wrap {
    padding: 15px;
    margin-bottom: 10px;
    padding-bottom: 55px;
  }
  .cart-product-title {
    font-size: 14px;
    line-height: 1.36;
  }
  .cart-prodict-type th {
    /* font-size: 10px; */
    line-height: 1.1;
    letter-spacing: 0.38px;
  }
  .cart-prodict-type tr td {
    font-size: 14px;
    line-height: 1.5;
  }
  .cart-product-price {
    font-size: 15px;
    line-height: 1.2;
  }
  .cart-product-delete svg {
    font-size: 15px;
  }
  .cart-page-main-title {
    margin-bottom: 10px !important;
  }
  .yt-cart-price-lister {
    border-radius: 0;
    padding: 20px 18px;
    margin-bottom: 10px;
  }
  .cart-prodict-amount thead th:first-child {
    font-size: 16px;
    line-height: 1.19;
  }
  .cart-prodict-amount thead th:last-child {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.27;
  }
  .cart-product-amount-ttl {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.2;
  }
  .cart-product-amount-price {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
  }
  .cart-prodict-amount tbody td,
  .cart-prodict-total-amount tbody td,
  .cart-prodict-sub-total-amount tbody td,
  .cart-prodict-sub-total-amount tbody td {
    padding: 8px 0;
  }
  .cart-divider {
    margin: 3px 0 7px;
  }
  .cart-coupon .form-control {
    /* padding: 15px; */
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
  .cart-proceed-to-checkput {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 0.4px;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
  }
  .checkout-form-wrap .cart-pg-inner-wrap {
    padding: 20px;
    margin-bottom: 10px;
  }
  .cart-checkout-tile {
    font-size: 15px;
    line-height: 1.2;
  }
  .cart-select-aar-btn {
    font-size: 12px;
    line-height: 1.17;
  }
  .checkout-form-label {
    font-size: 12px;
    line-height: 1.17;
  }
  .cart-pg-inner-wrap .checkout-checkbox .form-check-input {
    font-size: 10px;
    line-height: 1.1;
  }
  .checkout-form-wrap .yt-chekout-radio .form-check-label {
    font-size: 12px;
    line-height: 1.17;
  }
  .checkout-form-wrap .yt-chekout-radio .form-check-label .form-check-input {
    margin-top: 0px;
  }
  /* .checkout-form-wrap .yt-chekout-radio > div {
    width: 100%;
    margin-bottom: 10px;
  } */
  .cart-pg-inner-wrap .yt-checkout-form-rado-box {
    top: 6px;
  }
  .cart-product-container {
    order: 2;
  }
  .cart-price-container1 {
    order: -1;
  }
  .cart-price-container .proceed-btn {
    order: -1;
    margin-bottom: 0;
  }
  .cart-price-container .proceed-btn.checkoutbutton {
    display: none;
  }
  .yt-cart-price-lister {
    margin-bottom: 2rem;
  }
  .cart-quantity-box {
    position: absolute;
    bottom: 15px;
    right: 30px;
    width: 115px;
  }
  .checoutAddreess {
    order: 2;
  }
  .checoutordersummary {
    order: -1;
  }
}

@media (max-width: 575.98px) {
  .empty-cart-text {
    max-width: 233px;
    margin-left: auto;
    margin-right: auto;
  }
  .empty-cart-btn {
    width: 100%;
  }
  .cart-pg-list-prdt-info {
    flex-wrap: wrap;
  }
  .cart-pg-product-list-row {
    flex-direction: column;
  }
  .cart-pg-list-prdt-info {
    width: 100% !important;
    margin-top: 20px;
  }
  .cart-action .cart-product-delete {
    padding: 0 0 0 10px;
    margin: 0 0 0 10px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .cart-prodict-info {
    flex: 0 0 66% !important;
  }
  .presBox{
    margin: 0px 0px 10px 308px;
  }
}
@media (min-width: 1280px) and (max-width: 1365px) {
  .cart-prodict-info {
    flex: 0 0 45% !important;
  }
}
@media (min-width: 1366px) and (max-width: 1900px) {
  .cart-action{
    margin-top: 2px;
  }
  .yt-chekout-radio .checkout-form-label {
    font-size: 16px;
    line-height: 1.13;
  }
  .yt-inner-wrap .yt-items.item {
    padding-top: 30px;
  }
  .empty-cart-btn {
    font-size: 16px;
  }
  .cart-page-main-title {
    font-size: 26px;
  }
  .cart-proceed-to-checkput {
    font-size: 16px;
  }
  .cart-produt-list-wrap {
    padding: 30px 22px 30px 30px;
    margin-bottom: 20px !important;
  }
  .yt-cart-price-lister {
    padding: 30px;
  }
  .cart-divider {
    margin: 10px 0 !important;
  }
  form.yt-cart-disct-wrap {
    padding: 10px 0 !important;
  }
  .cart-prodict-amount tbody tr:last-child td {
    padding-bottom: 20px;
  }
  table.yt-sub-ttl-tbl-wrap.table tr:first-child td {
    padding-top: 20px;
  }
  table.yt-sub-ttl-tbl-wrap.table {
    margin: 0;
  }
}
.sub-heading{
  font-size: 14px;
  font-family: Rubik;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000;
}
.dropzone {
  text-align: center;
  padding: 20px;
  border: 3px dashed #eeeeee;
  border-radius: 10px;
  color: #bdbdbd;
  margin-bottom: 20px;
}
.textDecorationNone{
  
  color: var(--color-blue) !important;
}
.textDecorationNone:hover{
  color: var(--color-blue) !important;
}
.cancel{
  color: var(--color-black) !important;
}
.progress{
  height: .5rem !important;
  width: 100%;
}
.progress-bar{
  background-color:#3FC1CB;
  /* width: 100%; */
}
.file-icon{
  width: 18%;
    margin-right: 10px;
    height: 4rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: #F8F9FA;
    border-radius: 10px;
}
.browse-btn{
  background-color: var(--color-cyan);
  color: var(--color-black);
  padding: 6px 16px 6px 16px !important;
}
.browse-btn:hover{
  background-color: var(--color-cyan) !important;
  color: var(--color-black) !important;
}
.cancel{
  color: var(--color-black);
}
.multiselect{
  width: 70%;
}
.dropDownItem{
  color: #000000 !important;
  text-align: start;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.close{
  border-radius: 50px !important;
  border: 1px solid #DFE0E6;
  background: #ffffff;
  color: #3C3E49;
  
}
.sp-prescription-tag-name{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.modalContent{
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}
@media (max-width: 480px) {
  .cart-pg-list-prdt-info{
    margin-bottom: 60px;
  }
  .cart-prodict-info {
    flex: 0 0 52%;
}
.presBox {
  margin: 0px 0px 10px 137px !important;
}
}
@media (max-width:376px) {
.presBox{
  margin: 0px 0px 10px 110px !important
}
}
@media (max-width:360px) {
  .cart-prodict-info {
    flex: 0 0 47%;
}
.presBox{
  margin: 0px 0px 10px 95px !important
}
}
@media (max-width:280px) {
  .cart-prodict-info {
    flex: 0 0 32%;
}
.presBox{
  margin: 0px 0px 10px 30px !important
}
}

