.radius-10 {
  border-radius: 10px;
}
.mt-6 {
  margin-top: 3.8rem;
}
.cart-pg-mb-30 {
  margin-bottom: 30px;
}
.yt-currency-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart-pg-breadcrumbs {
  color: var(--color-dark-grey);
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 30px;
}

.cartno-wrap {
  margin-top: 52px;
  margin-bottom: 40px;
}

.cart-pg-current {
  color: var(--color-black);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
}

.empty-cartn-ttl {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.13;
  color: var(--color-black);
  margin-bottom: 17px;
}

.empty-cart-text {
  font-size: 14px;
  line-height: 1.13;
  color: var(--color-dark-grey);
}

.empty-cart-btn {
  opacity: 0.99;
  border-radius: 6px;
  background-color: var(--button-primary);
  border-color: var(--button-primary);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  color: var(--button-text-primary);
}

.cart-page-main-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.13;
  color: var(--color-black);
  margin-bottom: 30px;
}

.cart-prodict-info {
  /* width: 100%; */
  flex: 0 0 60%;
}

.cart-product-image {
  border-radius: 9px;
  border: solid 1px #dbdbdb;
  background-color: #ffffff;
}

.cart-product-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--color-black);
  margin-bottom: 0px;
  max-width: 310px;
  display: inline-block;
}

.cart-action-wrap {
  float: right;
}

.yt-product-code {
  color: silver;
  margin-bottom: 5px;
}

.yt-product-code {
  color: silver;
  margin-bottom: 5px;
  font-size: 11px;
}
.cart-action-separator {
  color: #b2b3b3;
  font-size: 17px;
  vertical-align: top;
}

.cart-prodict-type-container {
  max-width: 17vw;
  overflow-x: auto;
  margin-bottom: 20px;
}
.cart-product-head-container {
  display: flex;
}
.mobileViewProceedbuttoncontainer {
  display: none;
}
.accordian-panel {
  display: block;
}
.accordian-panel-show {
  display: block;
}
.accordian-icon {
  display: none;
}
@media (max-width: 768px) {
  .cart-prodict-type-container {
    max-width: 54vw;
    margin-bottom: 20px;
  }
  .qty-cls {
    font-size: 16px !important;
  }
}

@media (max-width: 992px) {
  .cart-prodict-type-container {
    display: inline;
  }

  .yt-product-code {
    font-size: 11px;
  }
}

/* width */
.cart-prodict-type-container::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.cart-prodict-type-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.cart-prodict-type-container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.cart-prodict-type-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cart-prodict-type th {
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 0.5px;
  color: #15aa71;
}

.cart-prodict-type th,
.cart-prodict-type td {
  padding: 3px;
}

.cart-product-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 1.08px;
  color: #000;
}

.cart-product-delete {
  font-size: 14px;
  color: var(--color-orange);
  cursor: pointer;
  display: inline;
}

.cart-product-wishlist {
  font-size: 14px;
  color: #30458c;
  cursor: pointer;
  display: inline;
}

/* .cart-prodict-amount th {
  font-size: 20px !important;
  font-weight: 700;
  line-height: 1.15;
  text-align: left;
  color: var(--color-black);
} */

.cart-product-amount-ttl {
  font-size: 18px;
  line-height: 1.11;
  text-align: left;
  color: var(--color-black);
  font-weight: normal;
}

.cart-product-amount-qty {
  color: silver;
}

.cart-product-amount-price {
  font-size: 18px;
  line-height: 1.11;
  text-align: right;
  color: var(--color-dark-grey);
  display: block;
}

/* .cart-prodict-amount thead th {
  padding-top: 0;
  padding-bottom: 18px;
  padding-left: 0;
  padding-right: 0;
} */

.cart-prodict-amount thead th:first-child {
  width: 50%;
}

.cart-prodict-amount tbody td,
.cart-prodict-total-amount tbody td,
.ccart-prodict-sub-total-amount tbody td,
.cart-prodict-sub-total-amount tbody td {
  padding: 10px 0;
}

.cart-divider {
  border-bottom: solid 1px #dfdfdf !important;
  display: block;
  margin: 15px 0 5px;
}

.cart-coupon .form-group {
  position: relative;
}

.btn-secondary.cart-coupon-btn {
  background-color: var(--color-cyan);
  border: 1px solid #dfdfdf;
  color: var(--color-black);
}

.cart-coupon .form-control {
  border-radius: 4px;
  border: solid 1px #dbdbdb;
  height: auto;
  box-shadow: none;
  font-size: 16px;
  line-height: 1.13;
  text-align: left;
  color: var(--color-black);
  padding: 13.5px 15px;
}
.cart-coupon .form-control::placeholder {
  font-weight: 400;
  color: #9b9fb1;
  font-size: 14px;
}
.cart-coupon-btn {
  position: absolute;
  top: 50%;
  right: 8px;
  opacity: 0.99;
  border-radius: 5px;
  background-color: var(--color-orange);
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  transform: translateY(-50%);
  line-height: 1.15;
  padding: 10px 15px;
  min-width: 75px;
  border-color: var(--color-orange);
}

.cart-proceed-to-checkput {
  font-size: 18px !important;
  font-weight: 500;
  line-height: 1.11;
  text-align: center;
  opacity: 0.99;
  border-radius: 5px;
  /* background-color: var(--button-primary); */
  background-color: var(--color-ButtonBackRegular);
  border-color: var(--button-primary);
  /* color: var(--button-text-primary); */
  color: var(--color-ButtonTextRegular);
}
.cart-proceed-to-checkput:hover {
  background-color: var(--color-ButtonBackHover);
  color: var(--color-ButtonTextHover);
}
.cart-checkout-tile {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.15;
  text-align: left;
  color: var(--color-black);
}

.cart-select-aar-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: black;
}

.checkout-form-wrap .form-group .form-control {
  box-shadow: none;
  border-bottom: 1px solid #dbdbdb !important;
  border-radius: 0;
}

.checkout-form-label {
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: var(--color-dark-grey);
}

.checkout-checkbox .form-group,
.yt-chekout-radio .form-group {
  padding-left: 32px !important;
  position: relative;
  line-height: 25px;
}

.yt-empty-cart-wrap {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.cart-pg-inner-wrap .form-group {
  margin-bottom: 2.5rem !important;
}

.cart-pg-inner-wrap .checkout-checkbox .form-check-input {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  margin: 0;
}

.cart-pg-inner-wrap .yt-checkout-form-chk-box,
.cart-pg-inner-wrap .yt-checkout-form-rado-box {
  position: absolute;
  cursor: pointer;
  margin: 0;
  left: 0;
  top: 0;
}

.cart-pg-inner-wrap .checkout-checkbox .yt-checkout-form-chk-box:before,
.cart-pg-inner-wrap .yt-checkout-form-rado-box:before {
  content: "";
  -webkit-appearance: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px !important;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  border: solid #979797;
  background-color: #ffffff;
  border-radius: 5px !important;
  box-sizing: border-box;
}

.cart-pg-inner-wrap .yt-checkout-form-rado-box:before {
  border-radius: 100%;
  width: 15px;
  height: 15px;
  padding: 5px;
}

.yt-checkout-chekbox-label {
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: var(--color-black);
}

.cart-pg-inner-wrap
  .checkout-checkbox
  .form-check-input:checked
  + label:before {
  background-color: var(--color-primary-2) !important;
}

.cart-pg-inner-wrap .checkout-checkbox .form-check-input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px !important;
  left: 8px !important;
  width: 6.5px !important;
  height: 12px !important;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  z-index: 5;
}

.cart-pg-inner-wrap .yt-chekout-radio .form-check-input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  width: 7px;
  height: 7px;
  z-index: 5;
  border-color: transparent !important;
  background: var(--color-primary);
  border-radius: 25px;
  left: 4px;
}

.cart-pg-inner-wrap .yt-chekout-radio .form-check-input:checked + label:before {
  border-color: var(--color-primary);
}

.cart-pg-inner-wrap .yt-chekout-radio .form-check-input {
  position: absolute;
  left: 20px;
  top: 0;
  z-index: 5;
  opacity: 0;
  right: 0;
  width: 100%;
  margin-top: 0;
  bottom: 0;
  height: 100%;
}

.checkout-form-wrap .form-check-label {
  line-height: 1.5;
}

.cart-coupon .error .cart-coupon-code-message {
  font-size: 13px;
  line-height: 1.46;
  text-align: left;
  color: var(--color-orange);
}

.cart-coupon .success .cart-coupon-code-message {
  font-size: 13px;
  line-height: 1.46;
  text-align: left;
  color: var(--color-green);
}

.cart-coupon-change-btn {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--color-orange);
  text-decoration: underline;
}

.cart-coupon .cart-coupon-bottom-wrapper {
  position: absolute;
  bottom: -42px;
  left: 0;
  right: 0;
  opacity: 0;
}

.cart-coupon .error .cart-coupon-bottom-wrapper,
.cart-coupon .success .cart-coupon-bottom-wrapper {
  opacity: 1;
}
form.yt-cart-disct-wrap .yt-form-cpn-err.form-group,
form.yt-cart-disct-wrap .success.form-group {
  margin-bottom: 20px !important;
}
.cart-coupon .success .cart-coupon-bottom-wrapper .error-message,
.cart-coupon .error .cart-coupon-bottom-wrapper .success-message,
.login-on-cart-page .lp-bottom-links {
  display: none;
}

.yt-login-wrap {
  margin-top: 0 !important;
}

.cart-prodict-amount thead th:last-child {
  text-align: right;
}

.cart-prodict-type tr td {
  font-size: 17px;
  line-height: 1.24;
  color: var(--color-black);
}

.cart-pg-list-image {
  flex: 0 0 32%;
}

.cart-pg-list-prdt-info {
  /* width: 75%; */
  flex: 1;
}

.cart-list-other-act {
  /* position: relative; */
}

.cart-quantity-box {
  position: absolute;
  bottom: 60px;
  right: 30px;
  width: 115px;
}
/* quantity css */

.cart-quantity-field .form-group {
  position: relative;
  /* border: solid 1px #cae2fe; */
  border-radius: 8px;
}
.cart-quantity-icn {
  position: absolute;
  top: 1px;
  bottom: 1px;
  cursor: pointer;
}
.quantity-icn-left {
  left: 1px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background-color: #dfdfdf;
  color: #757575;
  border-radius: 8px 0 0 8px;
}
.quantity-icn-left::after {
  padding: 0;
  margin: 0;
  display: block; /* probably not really needed? */
  content: "";
  width: 150%;
  height: 1px;
  background-color: #dfdfdf;
  position: absolute;
  left: 32px;
  top: -0.2px;
}
.quantity-icn-right {
  right: 1px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: var(--color-cyan);
  color: #fff;
  border-radius: 0 8px 8px 0;
}
.quantity-icn-right::before {
  padding: 0;
  margin: 0;
  display: block; /* probably not really needed? */
  content: "";
  width: 150%;
  height: 1px;
  background-color: #dfdfdf;
  position: absolute;
  right: 32px;
  bottom: -0.2px;
}
.cart-quantity-field .form-control {
  border-radius: 0;
  box-shadow: none !important;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
}
.cart-quantity-field input::-webkit-outer-spin-button,
.cart-quantity-field input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pro-review {
  width: 400px;
  height: 435px;
  margin: 112px 240px 68px 478px;
  padding: 15.8px 0 7px;
  border-radius: 10px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

/* Firefox */
.cart-quantity-field input[type="number"] {
  -moz-appearance: textfield;
}
.cart-quantity-field {
  max-width: 120px;
}

.checkout-form-wrap .yt-remove-arrow::-webkit-outer-spin-button,
.checkout-form-wrap .yt-remove-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

.checkout-form-wrap .yt-remove-arrow[type="number"] {
  -moz-appearance: textfield;
}

.cart-produt-list-wrap {
  padding: 40px 40px 38px;
}

.yt-cart-price-lister {
  padding: 40px 30px 56px;
  margin-bottom: 30px;
}

.checkout-form-wrap .cart-pg-inner-wrap {
  padding: 40px 30px 30px;
}

.yt-cm-lt-col {
  padding-right: 7px;
}

.yt-cm-rt-col {
  padding-left: 7px;
}

@media (min-width: 768px) {
  .cart-proceed-to-checkput.cart-btn-bill-pg {
    display: none;
  }
  .cart-pg-list-image .cart-product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  .cart-pg-list-image .cart-product-image {
    width: 100%;
    height: 10vw;
  }
}

@media (max-width: 992px) {
  .cart-product-head-container {
    display: block;
  }
}

@media (min-width: 1280px) {
  .empty-main-ttl {
    display: none;
  }
  .cart-prodict-type th,
  .cart-prodict-type td {
    padding: 3.5px 0;
    padding-right: 74px;
  }
  .cart-prodict-type th:last-child,
  .cart-prodict-type td:last-child {
    padding-right: 0;
  }
}

@media (min-width: 1280.88px) {
  .yt-cm-lt-col {
    padding-right: 10px;
  }
  .yt-cm-rt-col {
    padding-left: 10px;
  }
}

@media (min-width: 1900px) {
  .yt-cm-lt-col {
    padding-right: 20px;
  }
  .yt-cm-rt-col {
    padding-left: 20px;
  }
  .cart-product-title {
    line-height: 1.67;
    max-width: 100%;
  }
  .cart-produt-list-wrap {
    padding: 40px 40px 37px;
  }
  .mt-6 {
    margin-top: 4.8rem;
  }
}

/*
* Screen for under 1280 Resolution 
*/

@media (max-width: 1279.92px) {
  .yt-empty-cart-wrap {
    max-width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  .empty-cartn-ttl {
    font-size: 18px;
    line-height: 1.17;
  }
  .empty-cart-text {
    font-size: 14px;
    line-height: 1.14;
  }
  .empty-cart-btn {
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: 0.32px;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  .yt-empty-cart-wrap.cart-pg-inner-wrap {
    margin-top: 10px !important;
  }
  .cart-page-main-title {
    margin-bottom: 10px !important;
    font-size: 24px;
    line-height: 1.17;
  }
  .cart-produt-list-wrap {
    padding: 15px;
    margin-bottom: 10px;
    padding-bottom: 34px;
  }
  .yt-cart-price-lister {
    padding: 20px 15px;
  }
  .cart-product-title {
    font-size: 16px;
    line-height: 1.13;
  }
  .cart-prodict-type th {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.46px;
  }
  .cart-prodict-type tr td {
    font-size: 16px;
    line-height: 1.31;
  }
  .cart-product-price {
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.77px;
  }
  .cart-prodict-amount thead th:first-child {
    font-size: 18px;
    line-height: 1.11;
  }
  .cart-prodict-amount thead th:last-child {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.13;
  }
  .cart-product-amount-ttl {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.14;
  }
  .cart-product-amount-price {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.14;
  }
  .cart-prodict-amount tbody td,
  .cart-prodict-total-amount tbody td,
  .cart-prodict-sub-total-amount tbody td,
  .cart-prodict-sub-total-amount tbody td {
    padding: 7.5px 0;
  }
  .cart-divider {
    margin: 15px 0;
  }
  .cart-proceed-to-checkput {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: 0.32px;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  .cart-coupon .form-control {
    /* padding: 12px 15px; */
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
  .cart-coupon .error .cart-coupon-code-message {
    font-size: 12px;
    line-height: 1.58;
  }
  .cart-coupon-change-btn {
    font-size: 14px;
    line-height: 1.14;
  }
  .checkout-form-wrap .yt-chekout-radio .yt-currency-wrap.form-group {
    padding-left: 0 !important;
  }
}

/*
* Screen for under 768 Resolution 
*/

@media (max-width: 767.92px) {
  .cart-pg-inner-wrap
    .yt-chekout-radio
    .form-check-input:checked
    + label:after {
    top: 4px !important;
  }
  .cart-pg-list-image .cart-product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  .cart-pg-list-image .cart-product-image {
    width: 70px;
    height: 70px;
  }
  .cart-checkout-wrap .cart-proceed-to-checkput {
    margin-bottom: 15px;
  }
  .yt-cm-row {
    margin-left: -20px;
    margin-right: -20px;
  }
  .yt-cm-lt-col {
    padding-right: 11px;
    padding-left: 11px;
  }
  .yt-cm-rt-col {
    padding: 0;
  }
  .empty-cartn-ttl {
    font-size: 17px;
    line-height: 1.12;
  }
  .empty-cart-text {
    font-size: 15px;
    line-height: 1.2;
  }
  .empty-cart-btn {
    font-size: 12px;
    line-height: 1.17;
  }
  .cart-page-main-title {
    font-size: 18px;
    line-height: 1.11;
  }
  .cart-produt-list-wrap {
    padding: 15px;
    margin-bottom: 10px;
    padding-bottom: 34px;
  }
  .cart-product-title {
    font-size: 14px;
    line-height: 1.36;
  }
  .cart-prodict-type th {
    /* font-size: 10px; */
    line-height: 1.1;
    letter-spacing: 0.38px;
  }
  .cart-prodict-type tr td {
    font-size: 14px;
    line-height: 1.5;
  }
  .cart-product-price {
    font-size: 15px;
    line-height: 1.2;
  }
  .cart-product-delete svg {
    font-size: 15px;
  }
  .cart-page-main-title {
    margin-bottom: 10px !important;
  }
  .yt-cart-price-lister {
    border-radius: 0;
    padding: 20px 18px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .cart-prodict-amount thead th:first-child {
    font-size: 16px;
    line-height: 1.19;
  }
  .cart-prodict-amount thead th:last-child {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.27;
  }
  .cart-product-amount-ttl {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.2;
  }
  .cart-product-amount-price {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
  }
  .cart-prodict-amount tbody td,
  .cart-prodict-total-amount tbody td,
  .cart-prodict-sub-total-amount tbody td,
  .cart-prodict-sub-total-amount tbody td {
    padding: 8px 0;
  }
  .cart-divider {
    margin: 3px 0 7px;
  }
  .cart-coupon .form-control {
    /* padding: 15px; */
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
  .cart-proceed-to-checkput {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 0.4px;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
  }
  .checkout-form-wrap .cart-pg-inner-wrap {
    padding: 20px;
    margin-bottom: 10px;
  }
  .cart-checkout-tile {
    font-size: 15px;
    line-height: 1.2;
  }
  .cart-select-aar-btn {
    font-size: 12px;
    line-height: 1.17;
  }
  .checkout-form-label {
    font-size: 12px;
    line-height: 1.17;
  }
  .cart-pg-inner-wrap .checkout-checkbox .form-check-input {
    font-size: 10px;
    line-height: 1.1;
  }
  .checkout-form-wrap .yt-chekout-radio .form-check-label {
    font-size: 12px;
    line-height: 1.17;
  }
  .checkout-form-wrap .yt-chekout-radio .form-check-label .form-check-input {
    margin-top: 0px;
  }
  /* .checkout-form-wrap .yt-chekout-radio > div {
    width: 100%;
    margin-bottom: 10px;
  } */
  .cart-pg-inner-wrap .yt-checkout-form-rado-box {
    top: 6px;
  }
  .checkout-cart-items-container {
    order: 2;
  }
  .checkout-cart-price-container {
    order: -1;
  }
  /* .cart-price-container .proceed-btn{
    display: none;
  } */
  .cart-price-container .proceed-btn.cart-proceed-btn {
    display: block;
  }
  .mobileViewProceedbuttoncontainer {
    display: block;
    width: 96%;
    margin: 0 auto;
  }
  .accordian-panel {
    display: none;
  }
  .accordian-panel-show {
    display: block !important;
    transition: all 0.3s ease-in-out;
  }
  .accordian-icon {
    display: block;
  }
  .order-summary-container {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
}

.checkout-form .form-group {
  margin-bottom: 1rem;
}

.order-summary-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
@media (max-width: 575.98px) {
  .empty-cart-text {
    max-width: 233px;
    margin-left: auto;
    margin-right: auto;
  }
  .empty-cart-btn {
    width: 100%;
  }
}

@media (min-width: 1366px) and (max-width: 1900px) {
  .yt-chekout-radio .checkout-form-label {
    font-size: 16px;
    line-height: 1.13;
  }
  .yt-inner-wrap .yt-items.item {
    padding-top: 30px;
  }
  .empty-cart-btn {
    font-size: 16px;
  }
  .cart-page-main-title {
    font-size: 26px;
  }
  .cart-proceed-to-checkput {
    font-size: 16px;
  }
  .cart-produt-list-wrap {
    padding: 30px;
    margin-bottom: 20px !important;
  }
  .yt-cart-price-lister {
    padding: 30px;
  }
  .cart-divider {
    margin: 10px 0 !important;
  }
  form.yt-cart-disct-wrap {
    padding: 10px 0 !important;
  }
  .cart-prodict-amount tbody tr:last-child td {
    padding-bottom: 20px;
  }
  table.yt-sub-ttl-tbl-wrap.table tr:first-child td {
    padding-top: 20px;
  }
  table.yt-sub-ttl-tbl-wrap.table {
    margin: 0;
  }
}
