/*
* Hero Banner CSS
*/
/* body * {
  font-family: GTWalsheimPro, Arial, Helvetica, sans-serif !important;
} */
@import url("../../../../web/src/fonts/stylesheet.css");

body {
  font-family: "Rubik" !important;
  height: fit-content;
}

iframe {
  display: none !important;
}

.home-layout {
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* category  */

.home-category {
  border: 0;
  border-radius: 5px;
  margin-bottom: 2.5rem;
  height: 424px;
}

.home-category__card {
  padding: 1rem 0rem 1rem 1.5rem !important;
}

.home-category__heading {
  color: var(--color-dark-grey-2);
  font-size: 14px;
}

.home-category__heading-line {
  background-color: var(--color-light-grey-4);
  height: 2px !important;
}

/* promotion banner  */
.home-promotion-banner {
  height: 562px;
}
.product-sale-price{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.13;
  color: var(--color-cyan);
  margin-right: 10px;
}

.product-reg-price2 {
  font-size: 16px;
  line-height: 1.13;
  text-decoration: line-through;
  color: #8b8f95;
  margin-right: 10px;
}
.read-more-button{
  cursor: pointer;
  color: var(--color-dark-grey-2);
  font-weight: 600;
}
@media screen and (min-width: 0px) and (max-width: 992px) {
  .home-layout__left {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    z-index: 9999;
    background-color: white;
  }

  .home-layout.home-layout--show .home-layout__left {
    transform: translateX(0%);
  }

  .home-layout__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.55);
    visibility: hidden;
    z-index: 999;
  }

  .home-layout--show .home-layout__backdrop {
    visibility: visible;
  }

  .home-layout__toggle-icon {
    margin: 1rem 0;
    font-size: 1.5rem;
    text-align: right;
  }

  .home-promotion-banner {
    display: none;
  }

  .home-category {
    height: 100%;
  }

  .home-main-banner {
    height: 93px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .h-description{
    display: none;
  }

  .home-layout__col.home-layout__left {
    width: 288px;
  }

  .home-main-banner {
    height: 197px;
  }

  .product-sale-price {
    font-size: 16px;
  }

  .product-reg-price2 {
    font-size: 16px;
  }

  .stock-availability {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .home-layout__col.home-layout__left {
    width: 352px;
  }

  .home-promotion-banner {
    display: block;
    height: 562px;
  }

  .home-layout__toggle-icon {
    display: none;
  }

  .home-category {
    height: 424px;
  }

  .home-main-banner {
    height: 232px;
  }
}

/*.home-main-product-list {
  height: 100vh;
  overflow: hidden;
}*/

.product_card_single {
  flex: 1;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  border: 1px solid #DFE0E6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.card_image {
  border-radius: 5px;
  padding: 16px;
  display: flex;
  justify-content: center;
  position: relative;
}

.card_img {
  width: 170px;
  height: 170px;
}

.card_group {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: space-between;

}

.card_group::-webkit-scrollbar {
  display: none;
}

.product_name {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 7px;
}

.product_price {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  /* flex: 1; */
  align-items: center;
  justify-content: center;
  /* identical to box height, or 133% */

  text-align: center;

  /* FE Palette/Secondary */

  color: #3FC1CB;
}

.product_non_discounted_price {
  margin-left: 7px;
  text-decoration: line-through;
  color: #a29e9e;
}
.product-name{
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

.product_quantity {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  height: 15px;

  color: #757575;
}

.product_add_cart {
  display: flex;
  height: 40px;
  margin-top: 16px;
  border: none;
  border-top: 1px solid #ECEDF0;
  justify-content: center;
  padding-top: 8px;
  background: none;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.product_add_cart:not(:disabled):hover {
  background-color: #3FC1CB;
  color: white;
}

.product_add_cart_count {
  display: flex;
  height: 40px;
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), #3FC1CB;
  border-radius: 0px 0px 5px 5px;
}

.product_wishlist_button {
  display: flex;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;
  right: 20px;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.product_wishlist_button_inline {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.cart_decrease {
  border: none;
  background: #3FC1CB;
  border-radius: 0px 0px 0px 5px;
  width: 38px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}

.cart_increase:disabled,
.cart_decrease:disabled {
  background: #9bcfd3;
  cursor: not-allowed;
}

.cart_count {
  /* background: gold; */
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.cart_increase {
  border: none;
  background: #3FC1CB;
  border-radius: 5px 0px 0px 0px;
  transform: rotate(-180deg);
  width: 38px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}



.product_catergory {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

}

.product_category_type {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.product_sort {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  display: contents;
}

.sort_type {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  color: #3FC1CB;
}

.whishList_icon {
  position: absolute;
  top: 24px;
  right: 24px;
}

.whishList_icon:hover {
  background-color: red;
}

/*.card_group::after {
  content: "";
}*/

.productPagination {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}

.productPagination div {
  /* color: var(--color-black); */
  padding: 4px 8px;
  text-decoration: none;
  text-align: center;
  cursor: pointer !important;
  font-size: 14px;
  font-weight: 400;
}

.productPagination .disablePagination {
  pointer-events: none;
  color: #8c8c8c !important;
}

.productPagination div.active {
  background-color: var(--color-cyan);
  color: #000;
  border-radius: 5px;
  font-weight: 600;
}

.productPagination div:hover:not(.active):not(:first-child):not(:last-child) {
  background-color: var(--color-cyan);
  border-radius: 5px;
  font-weight: 600;
}

.loadMoreBtn {
  text-align: center !important;
  margin-top: 20px;
  margin: 20px auto;
  width: 85%;
}

.loadMoreBtn .btn-outline-secondary:hover {
  color: #fff;
  background-color: #3e454f;
  border: 1px solid #3e454f;
}

.likebuttononimage {
  stroke: var(--color-cyan);
  cursor: pointer;
  fill: #fff !important;
}

.likebuttononimage.active {
  fill: var(--color-cyan) !important;
  fill-opacity: 1;
}

.likebuttononimage:hover {
  fill: var(--color-cyan) ;
  fill-opacity: 0.3;
}

.product_filter {
  border: 1px solid grey;
  padding: 4px 8px;
  width: 141px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

.filter_type {
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
}

.stock-availability {
  margin-left: 5px;
}

@media screen and (min-width: 994px) {
  .res-description{
    display: none;
  }
  .product_category_type {
    display: none;
  }

  .product_filter {
    display: none !important;
  }

  .product_category_type {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  .product_category_type_web {
    display: none !important;
  }
}


@media screen and (max-width: 820px) {
  .product_category_type {
    margin-top: 16px;
  }

  .product_sort_web {
    display: none;
  }

  .card_img {
    height: 140px;
    width: 140px;
  }

  .product_card_single {
    /*width: 163px;
    height: 300px;*/
    overflow: hidden;
  }

  .product_name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 7px;
  }

  .product_price {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #3FC1CB;
    display: flex;
    /* flex: 1; */
    align-items: center;
    justify-content: center;
  }

  .product_quantity {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #757575;
    height: 30px;
  }

  .product_add_cart {
    display: flex;
    height: 40px;
    margin-top: 0px !important;
    border: none;
    border-top: 1px solid #ECEDF0;
    justify-content: center;
    padding-top: 4px;
    background: none;
    width: 100%;
  }

  .card_group {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media screen and (min-width:550px) {
  .card_group {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media screen and (max-width:550px) {
  .product_price{
    font-size: 10px;
  }
}

@media screen and (max-width: 360px) {
  .product_card_single {
    /*width: 163px !important;
    height: 280px;*/
    overflow: hidden;
  }

  .card_img {
    height: 147px;
    width: 126px !important;
  }
  .product_filter {
    padding: 6px 3px !important;
    width: 93px !important;
}
.filter_type {
  margin-left: 8px;
  font-weight: 400;
  font-size: 10px;
}
.product_sort {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  color: #000000;
  display: contents;
}
}
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .product-sale-price {
    font-size: 15px!important;
  }

  .product-reg-price2 {
    font-size: 15px!important;
  }

  .stock-availability {
    font-size: 15px;
  }
  
}


@media screen and (max-width: 281px){
  .product_filter {
    padding: 6px 3px !important;
    width: 93px !important;
}
.filter_type {
  margin-left: 8px;
  font-weight: 400;
  font-size: 10px;
}
.product_sort{
  font-size: 11px !important;
}
.sort_type{
  font-size: 11px !important;
}
} 