.w3-hover-opacity:hover {
  opacity: 0.5;
}
.new-collection-parent {
  /* margin-bottom: 48px; */
}
.search-scroll {
  overflow-y: scroll;
}
.yt-main-header {
  -webkit-box-shadow: 0px 6px 35px -12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 35px -12px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 35px -12px rgba(0, 0, 0, 0.2);
}
.shop-list-of-info {
  height: 75vh;
  overflow-y: scroll;
}
.shop-list-of-info::-webkit-scrollbar {
  width: 2px;
}
.yt-main-header .cartcontainer span.w3-green {
  /* padding: 2px 6px !important; */
}
.cart-quantity-field {
  position: relative;
  left: 10px;
}
.shop-list-of-info::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.box-carousal .item-slider {
  box-shadow: 0px 0px 15px 0px #e8e0e0;
}
.yt-td-product-img {
  margin-bottom: 10px !important;
  margin-top: 20px !important;
  object-fit: "fill" !important;
}
.bg-banner {
  width: 92% !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
}
.shop-list-of-info::-webkit-scrollbar-thumb {
  background: #888;
}
.shop-list-of-info::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.carousal button.carousel__back-button {
  left: 0px;
}
.carousal button.carousel__next-button {
  right: 3px;
}
.main-container {
  width: 100% !important;
}
.yt-main-header .supportbox {
  position: relative;
  left: 20px;
}
.logo-txt {
  margin-left: -20px;
  width: 12%;
}
.logo-txt a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
button.btn.btn-secondary.button-cart:hover {
  background: #364f6b;
  color: #fff;
  border: none;
}
.box-carousal .item-slider {
  border: 1px solid #e1dfdf;
}
button.btn.btn-secondary.button-cart {
  background: none;
  /* color: #3e454f; */
}
button.loginbutton.header-log-btn.w3-ripple.ml-2.btn.btn-secondary {
  background: none;
  padding: 7px !important;
  border: none !important;
  color: #000 !important;
}
button.loginbutton.header-log-btn.w3-ripple.ml-2.btn.btn-secondary:hover {
  font-weight: 500 !important;
}
.carousal .rec-item-wrapper img {
  border-radius: 5px !important;
  height: 193px !important;
  margin-bottom: 25px !important;
  width: 193px !important;
}

.carousal .rec-item-wrapper img:hover {
  box-shadow: 0 10px 50px -12px hsl(0deg 0% 67% / 90%);
  transform: translateY(-10px);
  transition: all 0.55s ease;
}

.yt-main-header .topbar {
  color: var(--color-black);
  background-color: #f6f8fa;
  padding: 21px 0 17px;
}
.navbar-expand-md .navbar-nav .dropdown-menu {
  width: 800px !important;
}
.yt-cart-icn-mainwp {
  margin-right: 20px !important;
}
.yt-head-hide-srch-col {
  position: relative;
  left: 12% !important;
}

.yt-main-header .logocontainer {
  background-color: white;
}
.yt-main-header ul.navbar-nav {
  padding: 6px 0px 0px !important;
}

.header-log-btn {
  border-radius: 6px;
  /* background-color: #324688; */
  background-color: var(--color-ButtonBackRegular);
  font-family: GTWalsheimPro;
  /* color: #fff; */
  color: var(--color-ButtonTextRegular);
  font-size: 18px;
  height: 50px;
}

.header-log-btn:hover {
  background-color: var(--color-ButtonBackHover);
  color: var(--color-ButtonTextHover);
}

.yt-header-top-message {
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-black);
}

.yt-main-header .supportbox {
  height: 95px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-slider-cpnt:hover {
  transform: none !important;
}
.box-carousal .item-slider {
  padding: 0px 0 0 1px;
}

.yt-main-header .support {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yt-main-header .supportimage {
  height: auto;
  width: 38.5px;
  margin-right: 10px;
  color: var(--color-primary);
}

.yt-main-header .supportnumber {
  display: flex;
  flex-direction: column;
}

.yt-main-header .supportnumber .title {
  font-size: 13px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--color-dark-grey);
  padding-bottom: 5px;
  margin-top: -5px;
}

.yt-main-header .supportnumber .number {
  font-weight: 500;
  line-height: 1.15;
  font-size: 16px;
  color: var(--color-black);
}

.yt-main-header .searchcontainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.yt-main-header .searchinput {
  border-radius: 6px;
  border: solid 1px #b2b3b3;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  height: 38px;
  width: 85%;
  padding-left: 56px;
  line-height: 1.15;
  color: var(--color-black);
  font-size: 14px;
  font-weight: 400;
  padding-top: 12px;
  padding-bottom: 12px;
}

.yt-main-header .searchinput::placeholder {
  color: #b2b3b3;
}

.yt-main-header .searchicon {
  height: auto;
  width: 60px;
  padding: 20px;
  position: absolute;
  left: 18px;
}

.yt-main-header .cartcontainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  flex-wrap: wrap;
}

.yt-main-header .carticon {
  height: auto;
  width: 26px;
  margin-right: 0px;
  cursor: pointer;
  font-size: 10px;
  color: var(--color-cyan);
  stroke: var(--color-cyan);
}
.yt-main-header .carticon:hover {
  fill: var(--color-cyan);
  fill-opacity: 0.4;
}
.yt-main-header .favoriteicon {
  height: auto;
  width: 26px;
  margin-right: 0px;
  cursor: pointer;
  font-size: 10px;
  color: var(--color-cyan);
}
.yt-main-header .favoriteicon:hover {
  fill-opacity: 0.4;
  fill: var(--color-cyan);
}
.yt-main-header .loginbutton {
  width: 130px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border-radius: 6px;
  /* background-color: #324688; */
  background-color: var(--color-ButtonBackRegular);
  /* font-family: GTWalsheimPro;
  color: var(--color-ButtonTextRegular); */
  /* color: #fff !important; */
  font-size: 14px;
  height: 50px;
}
.yt-main-header .loginbutton:hover {
  background-color: var(--color-ButtonBackHover);
  color: var(--color-ButtonTextHover);
}

.yt-main-header .menucontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 2px;
  background-color: white;
}

.yt-main-header .menuicon {
  height: auto;
  width: 26px;
  /* position: absolute; */
  left: 20px;
  background-color: white;
  cursor: pointer;
}
.app-banner.text-center a {
  margin: 0px 6px 0px 6px !important;
  display: inline-block;
}

.yt-main-header nav.navbar {
  padding: 0px;
}
.collection-bottom {
  margin-bottom: 50px !important;
}

.yt-main-header ul.navbar-nav {
  width: 100%;
  justify-content: space-around;
  background-color: white;
}

.yt-main-header .nav-link {
  color: var(--color-black) !important;
  border-bottom: 3px solid white;
  cursor: pointer;
}
.content-part {
  /*background-color: #f5f5f5!important;*/
}

.yt-main-header .nav-link.active {
  color: var(--color-primary) !important;
  /* color: red !important; */
  text-decoration: underline;
  font-weight: bold;
  text-underline-position: under;
  /* border-bottom: 3px solid var(--color-primary) !important; */
}

.yt-main-header .cm-drop-down-wrap {
  position: static;
}

.yt-main-header .cm-big-drop-menu {
  /* width: 40%;
  padding: 28px 44px 28px;
  max-width: 1180px;
  margin-left: auto;
  left: 0;
  right: 0;
  margin-right: auto; */
  width: 100%;
  padding: 52px 60px 37px;
  max-width: 1180px;
  margin-left: auto;
  left: 0;
  right: 0;
  margin-right: auto;
}

.yt-main-header .cm-big-menu-head .dropdown-divider {
  border-top: 1px solid var(--color-dark-grey);
}

.yt-main-header .cm-big-menu-inner .dropdown-item {
  font-size: 16px;
  line-height: 1.13;
  text-align: left;
  color: var(--color-dark-grey);
  padding: 8px 10px;
  margin-bottom: 5px;
  background: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}

.yt-main-header .cm-big-menu-inner .cm-big-menu-head button {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--color-black);
}

.yt-main-header .head-dropdown-arrow-icn {
  font-size: 12px;
  margin-left: 4px;
}

.yt-main-header li.cm-drop-down-wrap.dropdown.show > a {
  color: var(--color-primary) !important;
  font-weight: 600;
  border-bottom: 2px solid var(--color-primary);
}

.yt-main-header .header-search-field-wrap {
  position: relative;
  /* left: 25px; */
}

.yt-main-header .yt-recent-search-wrap {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 50;
}

.yt-main-header .recent-search-tag-name {
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--color-dark-grey);
}

.yt-main-header .recent-search-list-wrap .active {
  background: transparent;
  color: inherit;
}

.yt-main-header .yt-recent-search-wrap {
  border-radius: 10px;
  box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding: 32px 20px 27px;
}

.yt-main-header .yt-no-search-found-wrap {
  padding: 54px 30px 46px;
}

.yt-main-header .recent-search-list-wrap .list-group-item {
  border-bottom: 2px solid #dfdfdf;
  margin: 0;
  font-size: 16px;
  line-height: 1.13;
  color: var(--color-black);
  padding: 15px 0 !important;
}

.yt-main-header .recent-search-list-wrap .list-group-item:first-child {
  padding-top: 0 !important;
}

.yt-main-header .recent-search-list-wrap .list-group-item:last-child {
  padding-bottom: 0 !important;
}

.yt-main-header .search-no-ttl {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.13;
  color: var(--color-black);
  margin-top: 35px;
  margin-bottom: 15px;
}

.yt-main-header .search-no-sub-ttl {
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  color: var(--color-dark-grey);
}

.yt-main-header .yt-main-menu .nav-item {
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

.store-banner {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.yt-main-header .logoimage {
  width: 54%;
  max-width: 190px;
}

.yt-head-login-btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.36px;
  text-align: center;
  color: #ffffff;
  background-color: var(--color-dark-black);
  padding: 15px 26px;
}

.user_Name {
  cursor: pointer;
}

.left-menu-items-container {
  overflow-y: scroll;
  max-height: 300px;
  min-height: 300px;
}

.left-menu-item {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 10px;
}
.left-menu-item.active {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 10px;
}

/* width */
.left-menu-items-container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.left-menu-items-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.left-menu-items-container::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

/* Handle on hover */
.left-menu-items-container::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

/* width */
.right-menu-items-container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.right-menu-items-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.right-menu-items-container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.right-menu-items-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.right-menu-items-container {
  overflow-y: auto;
  max-height: 300px;
  min-height: 300px;
}
.right-menu-item {
  font-size: 18px;
  color: #1c1b11;
  padding-bottom: 8px;
  font-weight: 300;
}

.yt-mobile-side-nav-wrap {
  display: none;
}
.yt-cart-icn-mainwp {
  position: relative;
  margin-right: 5px;
}
.yt-cart-icn-mainwp .cart-notify {
  position: absolute;
  font-size: 12px;
  top: -12px;
  right: -6px;
}

.yt-main-header .cartcontainer span.w3-green {
  text-align: center;
  /* padding: 5px 6px !important; */
  border-radius: 50px !important;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  min-width: 20px !important;
  display: inline-block;
}
.cart-notify {
  color: #fff !important;
  background-color: var(--color-cyan) !important;
}
@media (min-width: 1900px) {
  .yt-main-header .cm-big-drop-menu {
    max-width: 1421px;
  }

  .yt-head-hide-srch-col {
    /* margin-left: -15px; */
  }

  .mobileContent {
    display: none;
  }
  .banner-single {
    height: 400px !important;
  }
  .yt-main-header .cm-big-drop-menu .yt-main-header .cm-big-menu-inner .dropdown-item {
    font-size: 20px;
    line-height: 1.15;
  }
  .yt-main-header .cm-big-menu-inner .cm-big-menu-head button {
    font-size: 28px;
    line-height: 1.14;
  }
  .yt-main-header .searchinput {
    padding-top: 24px;
    padding-bottom: 23px;
  }
  .yt-main-header .logoimage {
    max-width: 297px;
  }
}

@media only screen and (min-width: 992px) {
  /* .yt-main-header .order-sm-1 {
    order: 0;
  } */
  .yt-main-header .searchicon {
    left: 0px;
  }
  .yt-main-header ul.navbar-nav {
    padding: 6px 226px 0px;
    display: flex;
    /* flex-direction: column; */
  }
  .mobileContent {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .yt-only-mobile-vw {
    display: none;
  }
  .yt-only-mobile-vw.tr .yt-mobile-side-nav-wrap {
    display: none;
  }
  .mobileContent {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  /* .yt-main-header .order-sm-1 {
    order: 1;
  } */
  .yt-main-header .searchicon {
    left: 0;
  }
  .yt-main-header .searchinput {
    font-size: 13px;
  }
  .mobileContent {
    display: none;
  }
  .yt-main-header .loginbutton {
    height: auto;
    width: auto;
  }
}
/*
* Screen for under 1280 Resolution 
*/
@media only screen and (min-width: 770px) and (max-width: 1279.92px) {
  .col-auto.mobile .navbar-nav {
    flex-direction: row !important;
  }
  .banner-single {
    width: 100% !important;
    margin-top: 64px;
    height: 250px!important;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  .userbox {
    display: none !important;
  }
  .yt-head-hide-srch-col {
    /* display: none; */
    width: 28% !important;
    position: relative;
    left: 0% !important;
  }
  .logo-txt {
    margin-left: -15px !important;
    width: 20% !important;
  }
  .yt-main-header .logoimage {
    width: 78%;
  }
  .yt-only-mobile-vw.tr .yt-mobile-side-nav-wrap {
    display: block;
  }
  .yt-mobile-side-nav-wrap {
    position: fixed;
    background-color: rgb(62 69 79 / 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .yt-mobile-side-inner-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 550;
    max-width: 480px;
    overflow: auto;
    height: 100%;
    width: 100%;
  }
  .yt-mb-user-profile {
    padding: 20px;
    background-color: var(--color-black);
    color: #fff;
  }
  .yt-mobile-side-inner-content .yt-inner-cnt-logo {
    padding: 15px 20px 20px;
  }
  .yt-mobile-side-inner-content .logobox-mb img {
    background-color: var(--color-dark-black);
  }
  .yt-mobile-nav-content {
    padding: 17px 20px;
    border-bottom: solid 1px #dbdbdb;
  }
  .yt-mobile-nav-content:last-child {
    border: none;
  }
  .yt-mb-user-profile .yt-head-name {
    font-size: 18px;
    line-height: 1.75;
    /* font-family: "GTWalsheimPro-Medium"; */
    color: var(--color-white);
  }
  .yt-mb-user-profile .yt-head-email {
    font-size: 12px;
    line-height: 1.75;
    /* font-family: "GTWalsheimPro-Medium"; */
    color: var(--color-white);
  }
  .yt-mobile-nav-content li:last-child a {
    padding-bottom: 0;
  }
  .yt-mb-user-prfl-lks li:first-child a {
    padding-top: 0;
  }
  .yt-mb-user-prfl-lks {
    border-top: solid 1px #dbdbdb;
    padding: 20px;
  }
  .yt-main-header .yt-mobile-nav-content .cm-big-drop-menu {
    padding: 0;
    border: none;
  }
  .yt-main-header .yt-mobile-nav-content li.cm-drop-down-wrap.dropdown.show > a {
    border-bottom: none;
  }
  .yt-main-header .yt-mobile-nav-content .cm-big-menu-head .dropdown-divider {
    border-bottom: solid 1px #dbdbdb;
    border-top: none;
  }
  .yt-main-header .yt-mobile-nav-content .cm-big-menu-inner .dropdown-item {
    font-size: 10px;
    line-height: 1.1;
  }
  .yt-main-header .yt-mobile-nav-content .cm-big-menu-head .dropdown-item {
    font-size: 12px;
    line-height: 1.17;
    color: var(--color-black);
  }
  .yt-mb-user-profile .yt-mb-nav-login-btn {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.28px;
    font-weight: 500;
  }
  .yt-mb-innet-search {
    padding: 14px 15px 0;
  }
  .yt-main-header .yt-mb-innet-search .searchicon {
    top: 50%;
    transform: translateY(-50%);
    max-width: 16px;
    left: 12px;
    padding: 0px;
  }
  .yt-main-header .yt-mb-innet-search .searchinput {
    padding: 10px 10px 10px 38px !important;
    font-size: 12px;
    line-height: 1.17;
  }
  .yt-main-header .yt-mb-innet-search .searchinput::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 12px;
    line-height: 1.17;
  }
  .yt-main-header .yt-mb-innet-search .searchinput::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px;
    line-height: 1.17;
  }
  .yt-main-header .yt-mb-innet-search .searchinput:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 12px;
    line-height: 1.17;
  }
  .yt-main-header .yt-mb-innet-search .searchinput:-moz-placeholder {
    /* Firefox 18- */
    font-size: 12px;
    line-height: 1.17;
  }
  .yt-mb-header-search-bar-wrap input {
    border: none !important;
    padding: 12px 0;
    outline: none !important;
    width: 100%;
    font-size: 4vw;
    font-weight: 500;

    line-height: 1.11;
  }
  /* .yt-main-header .yt-recent-search-wrap {
    background-color: #f6f8fa;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    margin: 0 !important;
  } */
  .yt-main-header .yt-recent-search-wrap > .d-flex {
    margin: 13px 18px !important;
  }
  .yt-main-header .yt-mb-header-search-bar-wrap {
    padding: 17px 20px;
    background: #fff;
  }
  .yt-main-header .recent-search-list-wrap {
    padding: 0 20px;
    background: #fff;
  }
  .yt-main-header .recent-search-list-wrap .list-group-item,
  .yt-main-header .recent-search-list-wrap .list-group-item:first-child,
  .yt-main-header .recent-search-list-wrap .list-group-item:last-child {
    padding: 15px 0 !important;
    font-size: 15px;
    line-height: 1.2;
  }
  .yt-main-header .recent-search-tag-name {
    font-size: 15px;
    line-height: 1.2;
  }
  .yt-header-search-close-icn {
    position: absolute;
    top: 12px;
    right: 23px;
    display: none;
  }
  .yt-main-header .favoriteicon {
    margin-right: 11px;
    width: 21px;
    color: var(--color-cyan);
    display: none !important;
  }
  .yt-header-search-close-icn.d-none {
    display: block !important;
    max-width: 20px;
  }
  .yt-mb-header-search-bar-wrap input::placeholder {
    color: #dbdbdb;
    opacity: 1; /* Firefox */
  }

  .yt-mb-header-search-bar-wrap input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #dbdbdb;
  }

  .yt-mb-header-search-bar-wrap input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #dbdbdb;
  }
  .cart-notify{
    display:none !important;
  }
}

/*
* Screen for under 768 Resolution 
*/

@media (min-width:576px) and (max-width: 768px) {
  .logo-txt a {
    width: 115px;
  }
  .footer-contact-details .row {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex !important;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
}

@media (max-width: 769px) {
  .mobile .navbar-nav {
    flex-direction: row !important;
  }
  .userbox {
    display: none !important;
  }
  .col-auto.mobile {
    display: block;
  }
  .yt-main-header .menucontainer {
    display: inline-block;
  }
  .userbox span.uname,
  .userbox svg {
    display: none;
  }
  .new-collection {
    padding: 24px 0px !important;
  }
  .banner-single {
    height: 180px !important;
  }
  .logo-txt {
    width: 16%;
  }
  .collections {
    width: 100%;
    padding: 24px 0px 0px 0px !important;
    height: 300px !important;
  }
  .carousal {
    padding: 0px;
  }
  .logo-txt a {
    font-size: 13px;
    font-weight: 700;
    width: 115px;
  }
  .product-slider .rec-slider-container {
    margin: 0 0px !important;
  }
  .footer-contact-details h2 {
    font-size: 20px;
  }
  .new-collection h2,
  .collections h2 {
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
  }
  .product-slider .rec-slider-container {
    margin: 0 0px !important;
  }
  .yt-head-col.col-1 {
    z-index: 9;
  }
  .footer-contact-details .col-lg-auto.col-sm-auto {
    width: 36px;
    display: inline-block;
  }
  .footer-contact-details .row {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .footer-internal-content {
    text-align: center;
  }
  .footer-internal-content .col-lg-3 {
    margin-bottom: 20px;
  }
  .yt-head-col.col-4 {
    width: 100%;
    position: relative;
    bottom: 35px;
  }
  /* .yt-head-hide-srch-col {
    display: none !important;
  } */
  .dwn-app {
    font-size: 40px;
  }
  .yt-main-header .searchinput {
    width: 100%;
  }
  .yt-main-header .header-search-field-wrap {
    position: relative;
    /* left: 0px; */
  }
  .yt-comonent-link {
    padding-right: 0px !important;
  }
  .carousal button.carousel__next-button {
    right: -40px;
  }
  .carousal button.carousel__back-button {
    left: -40px;
  }
  .yt-main-header .searchcontainer {
    width: 100% !important;
  }
  .app-banner.text-center a {
    margin: 6px !important;
    display: inline-block;
  }

  .yt-head-hide-srch-col {
    position: relative;
    left: 7% !important;
    width: 35%;
    margin-left: -50px;
  }

  .yt-cart-icn-mainwp {
    position: relative;
    margin-right: 5px !important;
  }
  .yt-cart-icn-mainwp span.w3-green {
    position: absolute !important;
    right: 0 !important;
  }
  .yt-main-header .searchinput {
    font-size: 12px;
    padding-left: 32px;
  }
  .yt-main-header .searchicon {
    width: 34px;
    padding: 8px;
  }
  .yt-main-header .yt-main-header .topbar {
    display: none;
  }
  .yt-main-header .logocontainer {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .yt-main-header .supportbox {
    display: none;
  }
  .yt-main-header .logoimage {
    max-width: 91px;
    width: 35px !important;
  }
  .yt-main-header .logobox {
    /* margin-left: 38px; */
    max-width: 120px;
  }

  .yt-main-header .loginbutton span.yt-head-lgn-btn {
    display: block !important;
  }
  .yt-main-header .loginbutton span {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.28px;
  }
  .yt-main-header .loginbutton {
    width: auto;
    height: auto;
    border: none;
    margin-top: 5px;
    margin-left: 0 !important;
  }
  .yt-main-header .carticon {
    margin-right: 11px;
    width: 21px;
    stroke: var(--color-cyan);
  }
  .yt-main-header .favoriteicon {
    margin-right: 11px;
    width: 21px;
    color: var(--color-cyan);
    display: none !important;
  }
  .w3-green.cart-notify.wishlist {
    display: none !important;
  }
  .yt-main-header .yt-head-seachicn-mb {
    display: block !important;
    position: inherit;
    margin-right: 11px;
  }
  .yt-head-mb-search-panel {
    /* display: block !important; */
  }
  .yt-only-mobile-vw.tr .yt-mobile-side-nav-wrap {
    display: block;
  }
  .yt-mobile-side-nav-wrap {
    position: fixed;
    background-color: rgb(62 69 79 / 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .yt-mobile-side-inner-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 550;
    max-width: 221px;
    overflow: auto;
    height: 100%;
    width: 100%;
  }
  .yt-mb-user-profile {
    padding: 20px;
    background-color: var(--color-black);
    color: #fff;
  }
  .yt-mobile-side-inner-content .yt-inner-cnt-logo {
    padding: 15px 20px 20px;
  }
  .yt-mobile-side-inner-content .logobox-mb img {
    background-color: var(--color-dark-black);
  }
  .yt-mobile-nav-content {
    padding: 17px 20px;
    border-bottom: solid 1px #dbdbdb;
  }
  .yt-mobile-nav-content:last-child {
    border: none;
  }
  .yt-mb-user-profile .yt-head-name {
    font-size: 18px;
    line-height: 1.75;
    /* font-family: "GTWalsheimPro-Medium"; */
    color: var(--color-white);
  }
  .yt-mb-user-profile .yt-head-email {
    font-size: 12px;
    line-height: 1.13;
    /* font-family: "GTWalsheimPro-Medium"; */
    color: var(--color-white);
  }
  .yt-mobile-nav-content li:last-child a {
    padding-bottom: 0;
  }
  .yt-mb-user-prfl-lks li:first-child a {
    padding-top: 0;
  }
  .yt-mb-user-prfl-lks {
    border-top: solid 1px #dbdbdb;
    padding: 20px;
  }
  .yt-main-header .yt-mobile-nav-content .cm-big-drop-menu {
    padding: 0;
    border: none;
  }
  .yt-main-header .yt-mobile-nav-content li.cm-drop-down-wrap.dropdown.show > a {
    border-bottom: none;
  }
  .yt-main-header .yt-mobile-nav-content .cm-big-menu-head .dropdown-divider {
    border-bottom: solid 1px #dbdbdb;
    border-top: none;
  }
  .yt-main-header .yt-mobile-nav-content .cm-big-menu-inner .dropdown-item {
    font-size: 10px;
    line-height: 1.1;
  }
  .yt-main-header .yt-mobile-nav-content .cm-big-menu-head .dropdown-item {
    font-size: 12px;
    line-height: 1.17;
    color: var(--color-black);
  }
  .yt-mb-user-profile .yt-mb-nav-login-btn {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.28px;
    font-weight: 500;
  }
  .yt-mb-innet-search {
    padding: 14px 15px 0;
  }
  .yt-main-header .yt-mb-innet-search .searchicon {
    top: 50%;
    transform: translateY(-50%);
    max-width: 16px;
    left: 12px;
    padding: 0px;
  }
  .yt-main-header .yt-mb-innet-search .searchinput {
    padding: 10px 10px 10px 38px !important;
    font-size: 12px;
    line-height: 1.17;
  }
  .yt-main-header .yt-mb-innet-search .searchinput::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 12px;
    line-height: 1.17;
  }
  .yt-main-header .yt-mb-innet-search .searchinput::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px;
    line-height: 1.17;
  }
  .yt-main-header .yt-mb-innet-search .searchinput:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 12px;
    line-height: 1.17;
  }
  .yt-main-header .yt-mb-innet-search .searchinput:-moz-placeholder {
    /* Firefox 18- */
    font-size: 12px;
    line-height: 1.17;
  }
  .yt-mb-header-search-bar-wrap input {
    border: none !important;
    padding: 12px 0;
    outline: none !important;
    width: 100%;
    font-size: 4vw;
    font-weight: 500;

    line-height: 1.11;
  }
  /* .yt-main-header .yt-recent-search-wrap {
    background-color: #f6f8fa;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    margin: 0 !important;
  } */
  .yt-main-header .yt-recent-search-wrap > .d-flex {
    margin: 13px 18px !important;
  }
  .yt-main-header .yt-mb-header-search-bar-wrap {
    padding: 17px 20px;
    background: #fff;
  }
  .yt-main-header .recent-search-list-wrap {
    padding: 0 20px;
    background: #fff;
  }
  .yt-main-header .recent-search-list-wrap .list-group-item,
  .yt-main-header .recent-search-list-wrap .list-group-item:first-child,
  .yt-main-header .recent-search-list-wrap .list-group-item:last-child {
    padding: 15px 0 !important;
    font-size: 15px;
    line-height: 1.2;
  }
  .yt-main-header .recent-search-tag-name {
    font-size: 15px;
    line-height: 1.2;
  }
  .yt-header-search-close-icn {
    position: absolute;
    top: 12px;
    right: 23px;
    display: none;
  }
  .yt-header-search-close-icn.d-none {
    display: block !important;
    max-width: 20px;
  }
  .yt-mb-header-search-bar-wrap input::placeholder {
    color: #dbdbdb;
    opacity: 1; /* Firefox */
  }

  .yt-mb-header-search-bar-wrap input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #dbdbdb;
  }

  .yt-mb-header-search-bar-wrap input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #dbdbdb;
  }
  .yt-no-srch-found {
    margin-top: 58px;
  }
  .yt-main-header .search-no-ttl {
    font-size: 17px;
    line-height: 1.12;
    margin-top: 46px;
    margin-bottom: 8px;
  }
  .yt-main-header .search-no-sub-ttl {
    font-size: 15px;
    line-height: 1.2;
    max-width: 235px;
    margin-left: auto;
    margin-right: auto;
  }
  .searchcontainer.py-2.header-search-field-wrap input {
    display: none;
    width: auto !important;
  }
  .yt-head-hide-srch-col {
    position: absolute;
    right: 18% !important;
    width: auto;
    margin-left: auto;
    left: auto !important;
}
.align-items-center.header_outr.row {
  position: relative;
}
}

.usericon {
  width: 42px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid silver;
}

.uname {
  margin-left: 10px;
  color: gray;
}

.userbox {
  cursor: pointer;
}
.userbox:hover {
  font-weight: bold;
}

.banner-single {
  width: 100% !important;
  margin-top: 64px;
  height: 400px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.banner-single img {
  width: 100%;
  /* height: 400px; */
  height: auto;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}
.banner-flex {
  background: #fff;
}

@media (min-width: 1366px) and (max-width: 1900px) {
  .mobileContent {
    display: none;
  }
  .banner-single {
    height: 400px;
    overflow: hidden;
  }
  .yt-main-header .cm-big-drop-menu {
    padding: 40px;
  }
  .yt-main-header .supportnumber .title {
    font-size: 14px;
  }
  .yt-main-header .supportnumber .number {
    font-size: 18px;
  }

  .yt-main-header .loginbutton {
    font-size: 16px;
  }
  .yt-main-header .yt-main-menu .nav-item {
    font-size: 20px;
  }
  .yt-main-header .cm-big-menu-inner .cm-big-menu-head button {
    font-size: 20px;
  }
}


@media (max-width: 550px) {

.yt-head-hide-srch-col {
  right: 21% !important;
  margin-left: auto;
}
}
@media (max-width: 479px) {
  .yt-head-hide-srch-col {
    right: 25% !important;
  }
  .logo-txt {
    margin-left: 10px;
    width: 35%;
  }
  .col-auto.mobile {
    display: none;
  }
  .bg-banner {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .banner-single {
    width: 100% !important;
    margin-top: 40px;
    margin-bottom: 15px;
    height: 120px!important;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  .yt-main-header .loginbutton span {
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0;
    display: none;
  }
  .yt-cart-icn-mainwp {
    margin-right: 0;
  }
  .usericon {
    width: 30px;
    height: 30px;
  }
  .yt-main-header .searchcontainer {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .yt-head-hide-srch-col {
    right: 28% !important;
  }
}
@media (max-width: 340px) {
  .yt-head-hide-srch-col {
    right: 32% !important;
  }
}