.ultra-category-card {
    position: relative;
    width: 100%;
    height: 477px;
    z-index: 0;
}

.ultra-category-card__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.ultra-category-card__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    color: white;
}

/* hover effect  */

.ultra-category-card--hover {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.ultra-category-card--hover,
.ultra-category-card--hover .ultra-category-card__overlay {
    transition: all 0.3s linear;
}

.ultra-category-card--hover .ultra-category-card__overlay {
    background-color: rgba(117, 117, 117, 0.7);
    width: 100%;
}

.ultra-category-card--hover:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.ultra-category-card--hover:hover .ultra-category-card__overlay {
    background-color: var(--color-ButtonBackRegular);
}

.ultra-category-card--hover .ultra-category-card__overlay {
    padding: 0.5rem 0.5rem;
}

.ultra-category-card--hover:hover .ultra-category-card__overlay {
    padding: 1rem 0.5rem;
}

@media screen and (min-width: 0px) {
    .ultra-category-card--size-lg {
        height: 239px;
    }
    .ultra-category-card__overlay__text {
        font-size: 14px !important;
    }
}

@media screen and (min-width: 768px) {
    .ultra-category-card--size-lg {
        height: 329px;
    }
    .ultra-category-card__overlay__text {
        font-size: 18px !important;
    }
}

@media screen and (min-width: 992px) {
    .ultra-category-card--size-lg {
        height: 374px;
    }
}
