.simple-vertical-tab {
    border: 0;
}

.simple-vertical-tab__link {
    text-decoration: none !important;
    box-shadow: none !important;
    color: black !important;
    border: 0 !important;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    font-size: 0.875rem;
}
.simple-vertical-tab__link:hover {
    border: 0 !important;
}

.simple-vertical-tab__link.active {
    background-color: var(--color-secondary-hover-4) !important;
    color: black;
}
